{% extends "onda/base.html" %}

{% block content %}
<title>Créditos</title>
    <div id="main">
        <div class="container">
            <div class="row">
                <div id="content" class="col-12">
                    <article>
                        <header>
                            <h2>Contatos</h2>
                            <br><br>
                        </header>
                        <h3>Telefones</h3>
                        <p>(xx) xxxx-xxxx<br>
                        (xx) xxxx-xxxx<br>
                        (xx) xxxx-xxxx<br>
                        <h3>Email's</h3>
                        <p>email@email.com<br>
                        email@email.com<br>
                        email@email.com<br>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}