{% extends "onda/base.html" %}
{% load staticfiles %}
{% block content %}
<title>Créditos</title>
<div id="main">
    <div class="container">
        <div class="row">
            <div id="content" class="col-12">
                <article>
                    <header>
                        <h2>Sobre o ONDA/DF</h2>
                    </header>
                </article>
            </div>
        </div>
    </div>
</div>
<div id="intro">
    <div class="container">
        <section>
            <header>
                <h3>Plataforma desenvolvida pelo Brasília Ambiental para organização de suas principais aplicações e sistemas. <br>
                    O acesso através desse portal web, simplifica a busca ao usuário, por aplicações e sistemas do Brasísia Ambiental.</h3>
            </header>
        </section>
    </div>
</div>

<div id="main">
    <div class="container">
        <div class="row">
            <div id="content" class="col-12">
                <article>
                    <h3>Coordenação</h3>
                    <ul class="featured">
                        <li>
                            <span>
                                <a href="#">
                                    <img class="avatar">
                                    <p>Nome</p>
                                    <p>Função/Cargo</p>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="#">
                                    <img class="avatar">
                                    <p>Nome</p>
                                    <p>Função/Cargo</p>
                                </a>
                            </span>
                        </li>
                    </ul>
                    <h3>Desenvolvimento</h3>
                    <ul class="featured">
                        <li>
                            <span>
                                <a href="#">
                                    <img class="avatar">
                                    <p>Nome</p>
                                    <p>Função/Cargo</p>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="#">
                                    <img class="avatar">
                                    <p>Nome</p>
                                    <p>Função/Cargo</p>
                                </a>
                            </span>
                        </li>
                    </ul>
                    <h3>Colaboradores</h3>
                    <ul class="featured">
                        <li>
                            <span>
                                <a href="#">
                                    <img class="avatar">
                                    <p>Nome</p>
                                    <p>Função/Cargo</p>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="#">
                                    <img class="avatar">
                                    <p>Nome</p>
                                    <p>Função/Cargo</p>
                                </a>
                            </span>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}